<header>
<h1>Build-A-Burger</h1>
<p>Enter the burger you want to eat, then press enter to put it in you "undevoured" list. When you are done with your burger, click the devour button to add it to your "devoured" list!</p>
<input placeholder="MMmmm...Burgers"> 
</header>
<main>
<section>
<h2>Undevoured</h2>

<ul>
  
</ul>
</section>
<section>
<h2>Devoured</h2>

<ul>
  
</ul>
</section>
</main>
<footer>
    <p>&copy; 2021, GKF</p>
</footer>



